.u-overflow {
    overflow: hidden;
    
    &-x {
        overflow-x: auto;
        overflow-y: hidden;
        overflow: -moz-scrollbars-horizontal;
        -webkit-overflow-scrolling: touch;
        -webkit-transform: translateZ(0px);
        -webkit-transform: translate3d(0,0,0);
        -webkit-perspective: 1000;
    }

    &-y {
        overflow: -moz-scrollbars-vertical;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        -webkit-transform: translateZ(0px);
        -webkit-transform: translate3d(0,0,0);
        -webkit-perspective: 1000;
        transform: rotate(0.0000001deg);
    }
}