@import '../../../scss/init/variables';
@import '../../../scss/init/function';
@import '../../../scss/init/mixin';


.layout {
    .is-desktop {
        display: none;
    }

    @include for-up(900px) {
        .is-mobile {
            display: none;
        }

        .is-desktop {
            &.u-box {
                @include flex;
            }
            
            &.layout-header,
            &.layout-main,
            &.layout-footer {
                &:not(.u-box) {
                    display: block;
                }
            }

            .section-employees {
                width: 300px;
            }
            .section-employee {
                .employee-arrow {
                    display: none;
                }
            }
        }
    }
}