/* Name that color - http://chir.ag/projects/name-that-color */
/* colours */
$colorJuniper: #649092;
$colorGenoa: #17676b; // dark green
$colorSushi: #95c23d; // light green
$colorWhite: #FFFFFF; // logo colour
$colorDefault: $colorJuniper;
$colorLogo: $colorWhite;

/* fonts */
$fontOpensans: 'Open Sans', sans-serif;
$fontLobster: 'Lobster', cursive;
$fontDefault: $fontOpensans;
